 @theme {
     --color-clifford: #da373d;
 }

 /* 
 .text {
     background: url(/assets/jmd/jmd-concept_affiche_database.jpg);
     -webkit-background-clip: text;
     background-clip: text;
     color: transparent;
     text-align: center;
 } */

 body {
     height: 100vh;
 }

 @media (max-width: 962px) {
     body {
         height: 100%;
     }
 }

 .effet {
     background: url("./assets/photos/effet2.gif") no-repeat center center/cover;
 }